<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Rakyat Kecil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-bg">

<div class="auth-wrapper">
    <div class="card auth-card">
        <div class="card-body p-4">

            <div class="text-center mb-4">
               <img src="https://i.pinimg.com/736x/f3/41/fb/f341fb1954e049f41dc6192a3cafb785.jpg" alt="Logo" style="display: block; margin: 0 auto 15px auto; width: 100px;">
                <h4 class="mt-2 fw-bold">Laundry Rakyat Kecil</h4>
                <p class="text-muted small">Laundry Bersih dan Murah</p>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} py-2 small">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="/login" method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email@contoh.com" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </button>
            </form>

            <hr>
            <p class="text-center mb-0 small">
                Belum punya akun? <a href="{{ url_for('auth.register_page') }}">Daftar di sini</a>
            </p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
